.hero-unit
  h1 Testing encryption
  div.row
    button.btn.btn-success(ng-click="generateKey()", name="") Get key
  div(ng-show="keygenerated")
    h3 Key generated
    pre
      | Returned by server: key - {{keygenerated}}
      | Key from PEM - {{publicKey}}

  div(ng-show="keygenerated")
    form
      div
        input(ng-model="cardnumber", type="text", placeholder="Card Number")
      div
        input(ng-model="cvc", type="text", placeholder="cvc")
      div
        input(ng-model="date", type="text", placeholder="Date")
    div.row
      button.btn.btn-info(ng-click="decrypt()", ng-disabled="!keygenerated", value="") Encrypt with key
  div(ng-show="undecrypted")
    h3 Before sending to the server
    pre
      | Unencrypted data = {{undecrypted}}
      | Encrypted data = {{encrypted}}
    h3 The server returns ->
    pre
      {{decryptgenerated}}

  div(ng-show="undecrypted") 
    div.row
      button.btn.btn-info(ng-click="hack()", ng-disabled="!keygenerated", value="") Try to decrypt it with the client key only
    pre(ng-show="hacked")
      {{hacked}}