
<div class="hero-unit">
  <h1>Testing encryption</h1>
  <div class="row">
    <button ng-click="generateKey()" name="" class="btn btn-success">Get key</button>
  </div>
  <div ng-show="keygenerated">
    <h3>Key generated</h3>
    <pre>Returned by server: key - {{keygenerated}}
Key from PEM - {{publicKey}}</pre>
  </div>
  <div ng-show="keygenerated">
    <form>
      <div>
        <input ng-model="cardnumber" type="text" placeholder="Card Number"/>
      </div>
      <div>
        <input ng-model="cvc" type="text" placeholder="cvc"/>
      </div>
      <div>
        <input ng-model="date" type="text" placeholder="Date"/>
      </div>
    </form>
    <div class="row">
      <button ng-click="decrypt()" ng-disabled="!keygenerated" value="" class="btn btn-info">Encrypt with key</button>
    </div>
  </div>
  <div ng-show="undecrypted">
    <h3>Before sending to the server</h3>
    <pre>Unencrypted data = {{undecrypted}}
Encrypted data = {{encrypted}}</pre>
    <h3>The server returns -></h3>
    <pre>{{decryptgenerated}}</pre>
  </div>
  <div ng-show="undecrypted"> 
    <div class="row">
      <button ng-click="hack()" ng-disabled="!keygenerated" value="" class="btn btn-info">Try to decrypt it with the client key only</button>
    </div>
    <pre ng-show="hacked">{{hacked}}</pre>
  </div>
</div>